name: 'Deploys Bicep to Azure Subscription'
description: 'Deploys Bicep code to Azure subscription.'
inputs:
  artifact-name:
    description: 'Artifact name.'
    required: false
    default: drop
  variable-path:
    description: 'Directory or file path to variables.'
    required: false
    default: .github/variables/*
  azure-credentials:
    description: 'GitHub secret containing the credentials used to deploy Azure.'
    required: true   
  workflow-file-name:
    description: 'File name of the workflow to download artifacts from.'
    required: true
  bicep-deploy-name:
    description: 'Name of Bicep deployment template.'
    required: false 
    default: azuredeploy.json

runs:
  using: "composite"
  steps:
    - name: Download workflow artifact
      uses: dawidd6/action-download-artifact@v2.14.1
      with:
        workflow: ${{ inputs.workflow-file-name }}

    - name: Set Environment Variables
      uses: tw3lveparsecs/github-actions-set-variables@v0.1
      with:
        envFilePath: ./drop/.github/variables/*      

    - name: Login to Azure
      uses: azure/login@v1.1
      with:
        creds: ${{ inputs.azure-credentials }}
 
    - name: Deploy Bicep (Subscription Level)
      uses: Azure/cli@1.0.4
      with:
        inlineScript: |          
          az deployment sub create \
            --template-file ./drop/$DEPLOY_FILE \
            --location ${{ env.LOCATION }}
      env:
        DEPLOY_FILE: ${{ inputs.bicep-deploy-name}}