name: Aad-Integration-CI

# Controls when the workflow will run
on:  
  push:
    branches: [ feature/aad-integration ]
#   pull_request:
#     branches: [ main ]

  workflow_dispatch:

jobs:
  build:    
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.THOR_AZURE_CREDENTIALS }}
          enable-AzPSSession: $false

      - name: Set variables
        run: |
          AZURE_TOKEN=$(az account get-access-token --resource-type ms-graph --query accessToken --output tsv)
          export AZURE_TENANTDOMAIN=$(curl -s --header "Authorization: Bearer ${AZURE_TOKEN}" --request GET 'https://graph.microsoft.com/v1.0/domains' | jq -r '.value[] | select(.isDefault == true) | {id}[]')
          echo "AZURE_TENANTDOMAIN=${AZURE_TENANTDOMAIN}" >> $GITHUB_ENV
          export AZURE_TENANTID=$(az account show --query tenantId -o tsv)                                        
          echo "AZURE_TENANTID=${AZURE_TENANTID}" >> $GITHUB_ENV
      
      - name: Create aks groups
        run: |                 
          OLDIFS=$IFS   
          IFS=$'\n'
          for row in $(jq -c '.[]' .github/variables/aad/aksgroups.json); do
              _jq() {
                echo ${row} | jq -r ${1}
              }
              echo Creating group "$(_jq '.displayname')"
              az ad group create --display-name "$(_jq '.displayname')" --mail-nickname "$(_jq '.mailnickname')" --description "$(_jq '.description')" --query objectId -o tsv            
          done
          IFS=$OLDIFS

      - name: Create aks users
        run: |                 
          OLDIFS=$IFS   
          IFS=$'\n'
          for row in $(jq -c '.[]' .github/variables/aad/aksusers.json); do
              _jq() {
                echo ${row} | jq -r ${1}
              }
              echo "$(_jq '.userprincipalname')@${{ env.AZURE_TENANTDOMAIN }}"               
              PW=$(date +%s | md5sum | base64 | head -c 32 ; echo)
              echo "az clie"
              OBJECTID=$(az ad user create --display-name "$(_jq '.displayname')" --user-principal-name "$(_jq '.userprincipalname')@${{ env.AZURE_TENANTDOMAIN }}" --force-change-password-next-login --password ${PW} --query objectId -o tsv)
              echo "jq"
              echo "{ \"displayName\": \"$(_jq '.displayname')\", \"objectId\": "${OBJECTID}", \"secret\": \"${PW}\" }"
              echo "\n" 
          done
          IFS=$OLDIFS