name: Aad-Integration-CI

# Controls when the workflow will run
on:  
  push:
    branches: [ feature/aad-integration ]
#   pull_request:
#     branches: [ main ]

  workflow_dispatch:

jobs:
  build:    
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.THOR_AZURE_CREDENTIALS }}
          enable-AzPSSession: $true

      - name: Set variables
        run: |
          export AZURE_TENANTID=$(az account show --query tenantId -o tsv)
          echo $AZURE_TENANTID
          export AZURE_TENANTDOMAIN=$(az ad signed-in-user show --query 'userPrincipalName' -o tsv | cut -d '@' -f 2 | sed 's/\"//')
          echo $AZURE_TENANTDOMAIN
          
      # - name: Run Azure PowerShell script
      #   uses: azure/powershell@v1
      #   with:
      #     azPSVersion: 'latest'
      #     inlineScript: |
      #       Get-AzContext