name: Aad-Integration-CI

# Controls when the workflow will run
on:
  push:
    branches: [ feature/aad-integration ]
#   pull_request:
#     branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.THOR_AZURE_CREDENTIALS }}
          enable-AzPSSession: $true

      - name: Check Account
        run: /
          az account show
          az ad group list

      - name: Create aks groups
        run: |
          ./scripts/create-aksgroups.sh -a .github/variables/aad/aad.json

      - name: Create aks users
        run: |
          ./scripts/create-aksusers.sh -k .github/variables/keyvault/keyvault.json -a .github/variables/aad/aad.json