name: Foundations

on:
  workflow_dispatch:
  # pull_request:
  #   branches:
  #     - develop
  #   paths:
  #     - bicep/deploy/foundations/* 
  # push:
  #   branches:
  #     - develop
  #   paths:
  #     - bicep/deploy/foundations/* 

jobs:  
  build:
    #if: ${{ contains(github.ref, 'refs/pull/') }}   
    uses: tw3lveparsecs/tk-421/.github/workflows/reusable/build.yml@feature/reuse
    with:
      variable-path: ./.github/variables/*
      bicep-file-path: ./bicep/deploy/foundations/deploy.bicep

  deploy:
    needs: build
    # if: ${{ github.ref == 'refs/heads/main' }}        
    uses: tw3lveparsecs/tk-421/.github/workflows/reusable/deploy.yml@feature/reuse
    with:      
      workflow-file-name: foundations.yml
      variable-path: ./drop/.github/variables/* 