name: Foundations
on:
  workflow_dispatch:
  # pull_request:
  #   branches:
  #   - feature/networking
  #   paths:
  #   - bicep/deploy/foundations/*  
  push:
    branches:
    - feature/networking
    paths:
  #   - bicep/deploy/networking/*
  #   - bicep/deploy/management/* 

env:
  workflow-file-name: foundations.yml  
  bicep-dir: ./bicep/deploy/foundations/*
  module-dir: |
    ./bicep/modules/networking/*
    ./bicep/modules/management/*  

jobs:
  build: 
    # if: ${{ contains(github.ref, 'refs/pull/') }}
    if: ${{ github.ref == 'refs/heads/feature/networking' }}   
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Build Bicep Code
        uses: ./.github/actions/build
        with:
          module-dir: ${{ env.module-dir }}
          bicep-file-path: ${{ env.bicep-file-path }}

  deploy:
    # if: ${{ github.ref == 'refs/heads/main' }}  
    # if: ${{ github.ref == 'refs/heads/feature/networking' }} 
    # needs: build
    # runs-on: ubuntu-latest
    # steps:
    #   - name: Checkout Repo
    #     uses: actions/checkout@v2

    #   - name: Set Environment Variables
    #     uses: tw3lveparsecs/github-actions-set-variables@v0.1

    #   - name: Deploy Bicep Code
    #     uses: ./.github/actions/deploy
    #     with:
    #       azure-credentials: ${{ secrets[env.AZURE_CREDENTIALS] }}
    #       bicep-dir: ${{ env.bicep-dir }}
    #       workflow-file-name: ${{ env.workflow-file-name }}