name: Foundations

on:
  workflow_dispatch:
  # pull_request:
  #   branches:
  #     - develop
  #   paths:
  #     - bicep/deploy/foundations/* 
  # push:
  #   branches:
  #     - develop
  #   paths:
  #     - bicep/deploy/foundations/* 

jobs:  
  build:
    #if: ${{ contains(github.ref, 'refs/pull/') }}   
    uses: tw3lveparsecs/tk-421/.github/workflows/build.yml@develop
    with:
      variable-path: ./.github/variables/*
      bicep-file-path: build.yml 
    
    # runs-on: ubuntu-latest
    # steps:
    #   - name: Checkout Repo
    #     uses: actions/checkout@v2

    #   - name: Build Bicep Code
    #     uses: ./.github/actions/build
    #     with:         
    #       bicep-file-path: ${{ env.bicep-file-path }}

  deploy:
    needs: build
    # if: ${{ github.ref == 'refs/heads/main' }}        
    uses: tw3lveparsecs/tk-421/.github/workflows/deploy.yml@develop
    with:      
      workflow-file-name: ./bicep/deploy/foundations/deploy.bicep
      variable-path: ./drop/.github/variables/* 

    # runs-on: ubuntu-latest
    # steps:
    #   - name: Checkout Repo
    #     uses: actions/checkout@v2

    #   - name: Set Environment Variables
    #     uses: tw3lveparsecs/github-actions-set-variables@v0.1

    #   - name: Deploy Bicep Code
    #     uses: ./.github/actions/deploy
    #     with:
          # azure-credentials: ${{ secrets[env.AZURE_CREDENTIALS] }}          
          # workflow-file-name: ${{ env.workflow-file-name }}
          # variable-path: ./drop/.github/variables/*      