name: Issue Management
on:
  issues:
    types: [opened, assigned, milestoned]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.event.issue.action == 'opened'    
    steps:      
    - name: Simple Issue Labeler      
      uses: andymckay/labeler@1.0.4
      with:
        add-labels: 'help wanted'
    
