name: Issue Management
on:
  issues:
    #types: [opened, edited, assigned, milestoned]

jobs:
  deploy:
    runs-on: ubuntu-latest    
    steps:    
    - name: Add Labels to New Issues
      if: github.event.issue.state == 'open'          
      uses: andymckay/labeler@1.0.4
      with:
        add-labels: 'help wanted, enhancement'

    - name: Add Labels to New Issues
      if: github.event.issue.state == 'assigned'          
      uses: andymckay/labeler@1.0.4
      with:
        add-labels: 'in progress'        

    - name: Add issue to a project
      if: "contains(github.event.issue.labels.*.name, 'in progress')"
      uses: cb80/add2project@v0.5.0
      with:
        project: TK-421
        column: 'In progress'

    - name: Remove Labels from In Progress Issues
      if: "contains(github.event.issue.labels.*.name, 'in progress')"
      uses: andymckay/labeler@1.0.4
      with:
        remove-labels: 'help wanted'        