name: Issue Management
on:
  issues:
    types: [opened, assigned, milestoned]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:      
    - name: Simple Issue Labeler
      if: ${{ github.event.action == 'unlabeled' }}      
      uses: andymckay/labeler@1.0.4
      with:
        add-labels: 'help wanted'
    
