name: Issue Management
on:
  issues:
    types: [opened, assigned]

jobs:
  new_issue:
    runs-on: ubuntu-latest
    if: github.event.issue.state == 'open' && !github.event.issue.assignee.login
    steps:
    - name: Add Labels to New Issues      
      uses: andymckay/labeler@1.0.4
      with:
        add-labels: 'help wanted, enhancement'

    - name: Add issue to a project      
      uses: cb80/add2project@v0.5.0
      with:
        project: TK-421
        column: 'To do'        

  assigned_issue:
    runs-on: ubuntu-latest
    if: github.event.issue.assignee.login
    steps:  
    - name: Add In Progress Label      
      uses: andymckay/labeler@1.0.4
      with:
        add-labels: 'in progress'        

    - name: Add issue to a project      
      uses: cb80/add2project@v0.5.0
      with:
        project: TK-421
        column: 'In progress'

    - name: Remove Labels from In Progress Issues      
      uses: andymckay/labeler@1.0.4
      with:
        remove-labels: 'help wanted'        